
@charset "utf-8";

/* リセットcss */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/*共通のスタイル*/
html {
  font-size: 62.5%; /* -> 10px; */
}

body {
  color: #2c2c2c;
  font-family: 'MS P明朝', 'MS 明朝', 'MS PMincho', 'MS Mincho', 'Yu Mincho', 'times', serif;
  font-size: 1.4rem; /* -> 14px; */
  line-height: 150%;
  box-sizing: border-box;

}
h1, h2, h3 {
font-weight: normal;
font-style: italic;
}
/**/

#eyecatch {
  display: flex;
  margin:0 auto;
}

.eyecatch-left {
  width: 5%;

}

.eyecatch-right {
  width: 95%;

}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

}

.header-nav {
  margin-left: auto;
  margin-top: 30px;
  width: 45%;
}

.header-nav ul li {
  color: #ffff;

}

.header-nav ul {
  font-size: 1.6rem;

}

.header-nav ul li a {
  padding: 11px 34px 11px 34px;
  color: #ffff;
  text-decoration: none;
  
}

.sns-nav{
  transform: rotate(-90deg);
  
}

.sns-nav ul li a {
  text-decoration: none;
  color: #2c2c2c;
}

.eyecatch-right {
  background-image: url(img/eyecatch-img.png);
  height: 100vh;
  background-size: cover;
  
  position: relative;
  
}

.logo-wrap {
  width: 40%;
  margin: 0 auto;
  max-width: 500px;
  padding: 10%;
  background: rgba(255,255,255, 0.2);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%)
  translateX(-50%);
  -webkit- transform: translateY(-50%)
  translateX(-50%);
}

.logo {
  font-size: 5.8rem;
  padding: 30px;
  letter-spacing: 2.5rem;
  font-family: times;
  color: #ffff;
}

.catch-copy {
  font-size: 1.8rem;
  padding-top: 46px;
  color: #ffff;
  letter-spacing: 1.2rem;
}

.section-title-wrap {
  border-bottom: 1px solid #2c2c2c;
  display: flex;
  width: 157px;
  align-items: center;
}

.section-title-bar {
  width: 9px;
  height: 70px;
  background: #DFD1E4;
  display: inline-block;
}

h1 {
  font-size: 4.8rem;
  display: inline-block;
  padding: 5px 10px 10px 20px;
}
  


